<div class="news-feed-container">
  <h1>News Feed</h1>
  <ul>
    <li *ngFor="let story of stories">
      <div class="story-box">
        <div class="story-box-title">
          <span class="story-title">{{ story.title }}</span>
        </div>
        <div class="story-box-time">
          <span>{{ story.time | relativeTime }}</span>
        </div>
      </div>
      <div *ngIf="story.url" class="story-url">
        <a href="{{ story.url }}">Read story</a>
      </div>
      <hr class="solid" />
    </li>
  </ul>
  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="metadata.totalCount"
    [pageSize]="metadata.pageSize"
  ></mat-paginator>
</div>
