<mat-toolbar>
  <div class="home">
    <a mat-button class="home" href="/">Latest Hacker News</a>
  </div>
  <form (ngSubmit)="onSearchSubmit()">
    <input
      matInput
      aria-label="Enter search terms"
      class="search"
      name="searchText"
      placeholder="Search stories by title"
      type="text"
      [(ngModel)]="searchText"
    />
    <button
      aria-label="Submit search"
      class="search"
      id="btn-submit"
      type="submit"
    >
      Search
    </button>
    <button
      aria-label="Clear search results"
      class="search"
      id="btn-reset"
      type="reset"
      (click)="onSearchReset()"
    >
      Reset
    </button>
  </form>
</mat-toolbar>
<div class="news-feed-container">
  <h1>News Feed</h1>
  <ul *ngIf="!hasError">
    <li *ngFor="let story of stories" id="{{ story.id }}">
      <div matListItemLine class="story-box">
        <div class="story-title">{{ story.title }}</div>
        <div class="story-time">{{ story.time | relativeTime }}</div>
      </div>
      <div matListItemLine *ngIf="story.url" class="story-url">
        <a href="{{ story.url }}">Read story</a>
      </div>
      <hr class="solid" />
    </li>
  </ul>
  <div *ngIf="hasError" class="error">
    We've encountered an error while attempting to load data. Please refresh the
    page to try again.
  </div>
</div>
<div class="paginator">
  <mat-paginator
    *ngIf="!hasError"
    (page)="handlePageEvent($event)"
    [length]="metadata.totalCount"
    [pageSize]="metadata.pageSize"
    [showFirstLastButtons]="true"
  ></mat-paginator>
</div>
