.news-feed-container {
  align-self: center;
  margin: 0% 25%;
}

hr.solid {
  border-top: 1px solid gray;
}

ul {
  list-style-type: none;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
