.mat-typography {
  margin: 0;
}

body {
  color: #011f4b;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #005b96;
  text-decoration-style: dashed;
}

a:visited {
  color: #011f4b;
}

a:hover {
  color: #b3cde0;
}

h1 {
  color: #03396c;
}

hr.solid {
  border: 1px solid #e9edec;
  margin: 1em 0;
}

ul {
  list-style-type: none;
  margin: 0 2em;
  padding: 0;
}

::placeholder {
  color: #ffffff80;
}

mat-toolbar {
  background: #005b96;
  box-shadow: 0 0.2em 0.4em -0.1em rgba(80, 80, 80, 0.5);
  height: 5em;
  margin: 0;
  position: sticky;
  top: 0;
}

div.home {
  width: 20em;
}

a.home:link,
a.home:visited,
a.home:hover {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
}

input.search {
  background: none;
  border-color: #fff;
  border-width: 0 0 1px;
  color: #fff;
  font-size: 1.25em;
  line-height: 1.5em;
  outline: none;
  margin: 0 1em;
  width: 25em;
}

button.form {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0.25em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0.25em;
  min-width: 4.5em;
  outline: 0;
}

button.form:hover {
  background-color: #b3cde080;
}

div.news-feed-container {
  align-self: center;
  margin: 1em 20em 3em;
  padding: 0;
}

div.story-box {
  display: flex;
}

div.story-title {
  flex: 0 0 75%;
  line-height: 1.25em;
}

div.story-time {
  text-align: right;
  flex: 0 0 20%;
  margin-left: auto;
}

div.story-url {
  font-size: 0.9em;
  margin-top: 0.2em;
}

div.paginator {
  background: #005b96;
  box-shadow: 0 -0.2em 0.4em -0.1em rgba(80, 80, 80, 0.5);
  color: #cee0ed;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.cdk-overlay-container {
  display: none;
}
